@import 'src/scss/app.variables';
@import 'src/scss/mixins/breakpoints';

.auth-section {
  &__content {
    width: $field-width;
    margin: $padding-huge;
  }
}

@include media-breakpoint-up(md) {
  .auth-section {
    &__content {
      margin: $padding-huge auto;
    }
  }
}
