<div [@fadeIn]="'show'" class="auth-section">
  <div *ngIf="showForm$ | async; else showSuccessScreenMessage" class="auth-section__content">
    <h1>Actualizar Contraseña</h1>

    <p>
      Hola!, <strong>{{ email$ | async }}</strong> ya puedes actualizar tu contraaseña
    </p>

    <br />

    <form (ngSubmit)="send()" [formGroup]="form" class="auth-section-form">
      <mat-form-field class="form__field" appearance="fill">
        <mat-label>Contraseña*</mat-label>
        <input
          [errorStateMatcher]="matcher"
          formControlName="password"
          matInput
          placeholder="Min 6 caracteres y máximo 12"
          type="password"
        />

        <mat-error *ngIf="form.controls.password.hasError('required')">
          Este campo es <strong>requerido</strong>
        </mat-error>

        <mat-error
          *ngIf="
            form.controls.password.hasError('minLength') ||
            form.controls.password.hasError('maxLength')
          "
        >
          Este campo debe contener entre 6 y 12 caracteres
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form__field" appearance="fill">
        <mat-label>Confirmar Contraseña*</mat-label>
        <input
          [errorStateMatcher]="matcher"
          formControlName="confirmPassword"
          matInput
          placeholder="Por favor digite nuevamente la contraseña"
          type="password"
        />

        <mat-error *ngIf="form.controls.confirmPassword.hasError('required')">
          Este campo es <strong>requerido</strong>
        </mat-error>

        <mat-error *ngIf="form.controls.confirmPassword.hasError('mismatch')">
          Las contraseñas no coinciden
        </mat-error>
      </mat-form-field>

      <button
        class="auth-section-form__button"
        [disabled]="form.invalid || loading"
        color="primary"
        mat-raised-button
      >
        Guardar
      </button>
    </form>
  </div>

  <ng-template #showSuccessScreenMessage>
    <div class="auth-section__content">
      <h2>Cambio exitoso</h2>

      <p>
        Ya puedes iniciar sesión con tu nueva contraseña.
      </p>

      <br />

      <a color="primary" mat-button routerLink="/auth">Redirigirme</a>
    </div>
  </ng-template>
</div>
