<div class="back-button-link">
  <a mat-button color="primary" routerLink="/auth">Volver</a>
</div>

<div class="auth-section" [@fadeIn]="'show'">
  <div class="auth-section__content" *ngIf="showForm$ | async; else showSuccessScreenMessage">
    <h1>Solicitud de Cambio de Contraseña</h1>

    <p>
      <strong>¿Has olvidado tu contraseña?</strong> No te preocupes, ingresa tu correo y recibirás
      las instrucciones para cambiarla
    </p>

    <br />

    <form class="auth-section-form" [formGroup]="form" (ngSubmit)="send()">
      <mat-form-field class="form__field" appearance="fill">
        <mat-label>Correo*</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          [errorStateMatcher]="matcher"
          placeholder="Ex. hola@example.com"
        />

        <mat-error
          *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')"
        >
          Por favor ingrese un email válido
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('required')">
          Este campo es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <button
        class="auth-section-form__button"
        [disabled]="form.invalid || loading"
        mat-raised-button
        color="primary"
      >
        Enviar
      </button>
    </form>
  </div>

  <ng-template #showSuccessScreenMessage>
    <div class="auth-section__content">
      <h2>Solicitud de cambio de contraseña enviado exitosamente</h2>

      <p>
        Hemos enviado un correo con las intrucciones para cambiar tu contraseña, si tu email se
        encuentra en nuestros registros, recibirás el correo prontamente.
      </p>

      <p>
        No olvides revisar tu carpeta de Spam en caso de no recibir el correo, o contacta a un
        administrador del sistema.
      </p>
    </div>
  </ng-template>
</div>
